<h1>Encrypt using Crypto</h1>
{{#if error}}<span>{{error}}</span>{{/if}}
<form class="form-inline" method="POST" action="/url/crypto-encrypt">
  <div class="form-group">
    <input type="text" name="url" class="form-control" placeholder="Enter a URL">
  </div>
  <input type="submit" class="btn btn-primary" value="Encrypt">
</form>