<h1>Decrypt using Redis</h1>
{{#if error}}<span>{{error}}</span>{{/if}}
<form class="form-inline" method="POST" action="/url/redis-decrypt">
  <div class="form-group">
    <input type="text" name="url" class="form-control" placeholder="Enter short code of URL">
  </div>
  <input type="submit" class="btn btn-primary" value="Decrypt">
</form>